.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  text-decoration: none;
  border-radius: 65px;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  background-color: $accent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-hover;
  }

  &:active {
    opacity: 0.7;
  }
}
