.container {
  width: 100%;
  max-width: 1322px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-inner {
  width: 100%;
  max-width: 1115px;
  padding: 0 10px;
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .container {
    padding: 0;
  }

  .container-inner {
    padding: 0;
  }
}
