.main-screen {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main_bg@2x.jpg");
  }
}

@media (max-width: $mobile) {
  .main-screen {
    background-image: url("../img/main_bg_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main_bg_mobile@2x.jpg");
    }
  }
}
