@font-face {
  font-family: "raleway";
  src:
    local("raleway"),
    url("../fonts/raleway-regular.woff2") format("woff2"),
    url("../fonts/raleway-regular.woff") format("woff"),
    url("../fonts/raleway-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  src:
    local("raleway"),
    url("../fonts/raleway-medium.woff2") format("woff2"),
    url("../fonts/raleway-medium.woff") format("woff"),
    url("../fonts/raleway-medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local("raleway"),
    url("../fonts/raleway-semibold.woff2") format("woff2"),
    url("../fonts/raleway-semibold.woff") format("woff"),
    url("../fonts/raleway-semibold.ttf") format("ttf");
}

@font-face {
  font-family: "raleway";
  src:
    local("raleway"),
    url("../fonts/raleway-bold.woff2") format("woff2"),
    url("../fonts/raleway-bold.woff") format("woff"),
    url("../fonts/raleway-bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  src:
    local("raleway"),
    url("../fonts/raleway-extrabold.woff2") format("woff2"),
    url("../fonts/raleway-extrabold.woff") format("woff"),
    url("../fonts/raleway-extrabold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src:
    local("raleway"),
    url("../fonts/raleway-black.woff2") format("woff2"),
    url("../fonts/raleway-black.woff") format("woff"),
    url("../fonts/raleway-black.ttf") format("ttf");
}
