* {
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: $black;
  color: $white;
  font-family: $main-font;
  font-feature-settings: "pnum" on, "lnum" on;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-overlay {
  overflow: hidden;
}

.mobile-only {
  display: none;
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: block;
}

.menu-opened {
  .page-footer {
    display: block;
  }
}

@media (max-width: $tablet) {
  .mobile-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .no-js {
    .main-screen {
      overflow: scroll;
    }

    .page-footer {
      display: flex;
    }

    .page-header {
      position: static;
      width: 100%;
      height: 100%;
      background: linear-gradient(170.74deg, #633c0f -68.98%, #24150e 75.12%, #1a140d 132.97%);

      .page-header__nav {
        display: flex;
      }

      .page-header__toggle {
        background-image: url("../img/burger-close.svg");
      }

      .page-header__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 0;
        padding: 36px 7px 39px;
        border-bottom: 1px solid rgba($white, 0.16);
      }

      .page-header__link {
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .mobile-only {
    display: block;
  }

  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: none;
  }
}
