$main-font: "Raleway", "Arial", sans-serif;

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$white: #ffffff;
$black: #000000;
$accent-text: #F2890F;
$accent: #F28A0F;
$accent-hover: #F39425;
$light-grey-text: #E6E6E6;
