$main-font: "Raleway", "Arial", sans-serif;

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$white: #ffffff;
$black: #000000;
$accent-text: #f2890f;
$accent: #f28a0f;
$accent-hover: #f39425;
$light-grey-text: #e6e6e6;
$grey-text: #e5e5e5;
$color-overlay: #3d3333;
$inactive: #b8b8b8;
$disabled: #c4c4c4;
